.banner {
  background-image: url('./../../images/background.png');
  background-size: cover;
  background-position:center;
  padding: 200px;
}
.banner h1 {
  color:white;
}

.banner p {
  color:white;
}
.btn-banner {
  background-color:#1edd88;
  border-radius: 50px;
  padding: 16px 36px;
  color: white;
  display: inline-block;
}
