.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.card {
  height: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  border: 1px rgb(230,230,230);
  padding: 24px;
  text-align: center;
}
.card img {
  height: 100px;
}
.card p{
  opacity: .5;
}
